<div class="row" id="attendance-date">

    <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
        Each game attendance by date:<br>
        <span class="translation">Összes nézőszám dátum szerint</span>
    </div>

    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" style="margin-bottom:15px">
        <span style="font-style:italic">Average marked with red horizontal line. Hover on bubbles to see details. Some bubbles may overlap each other.</span>
    </div>

    <div class="col-xs-12">
        <canvas class="chart-bubble" chart-data="chartData" chart-series="series" chart-colors="colors" chart-options="options"></canvas>
    </div>

</div>
