<div class="row" id="team-record-home">
    <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
        Record attendance on home games by team:<br>
        <span class="translation">Rekord nézőszám hazai pályán</span>
    </div>
	
	<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
	<table class="table table-inverse">
	<thead>
		<tr>
		  <th>Team</th>
		  <th>Attendance</th>
		  <th>Date</th>
		  <th>Game</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="recordGame in data track by $index">
		  <td>{{recordGame.team}}</td>
		  <td>{{recordGame.game.attendance}}</td>
		  <td>{{recordGame.game.date}}</td>
		  <td>{{recordGame.game.team1}} - {{recordGame.game.team2}}</td>
		</tr>
	</tbody>
	</table>
	</div>
</div>