<div class="row" id="team-home-away">
    <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
        Teams with the <b>highest</b> average attendance <span ng-if="data.leagueData.competitionType != 'tournament'">(home and away games combined)</span>:<br>
        <span class="translation">Legnagyobb nézőszámú csapatok <span ng-if="data.leagueData.competitionType != 'tournament'">(hazai és idegen pályán)</span></span>
    </div>

    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Average attendance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recordTeam in dataSorted | limitTo:3 track by $index">
                    <td>{{recordTeam.team}}</td>
                    <td>{{recordTeam.attendance}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12 divider-space">&nbsp;</div>

    <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
        Teams with the <b>lowest</b> average attendance <span ng-if="data.leagueData.competitionType != 'tournament'">(home and away games combined)</span>:<br>
        <span class="translation">Legalacsonyabb nézőszámú csapatok <span ng-if="data.leagueData.competitionType != 'tournament'">(hazai és idegen pályán)</span></span>
    </div>

    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Average attendance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recordTeam in dataSorted | limitTo:-3 track by $index">
                    <td>{{recordTeam.team}}</td>
                    <td>{{recordTeam.attendance}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12 divider-space">&nbsp;</div>

    <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
        Average attendance by team <span ng-if="data.leagueData.competitionType != 'tournament'">(home and away games combined)</span>:<br>
        <span class="translation">Átlag nézőszám csapatok szerint <span ng-if="data.leagueData.competitionType != 'tournament'">(hazai és idegen pályán)</span></span>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-offset-2 col-md-3">
        <div ng-repeat-start="team in teams | teamsColumn:0" class="team-label">{{team.long}}</div>
        <div class="team-stat" ng-repeat-end>{{dataAll[teams.indexOf(team)]}}</div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
        <div ng-repeat-start="team in teams | teamsColumn:1" class="team-label">{{team.long}}</div>
        <div class="team-stat" ng-repeat-end>{{dataAll[teams.indexOf(team)]}}</div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
        <div ng-repeat-start="team in teams | teamsColumn:2" class="team-label">{{team.long}}</div>
        <div class="team-stat" ng-repeat-end>{{dataAll[teams.indexOf(team)]}}</div>
    </div>

    <div class="col-xs-12 divider-space">&nbsp;</div>

    <div ng-repeat="chartData in dataArray track by $index" class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        {{chartLabels[$index]}}
        <br><br>
        <canvas id="bar" class="chart chart-bar" chart-data="[chartData]" chart-labels="labels[$index]" chart-options="options" chart-colors="[colors[$index]]"> </canvas><br>
    </div>
</div>
