<div class="row merged-row" id="total">
    <div class="col-xs-12 col-sm-offset-3 col-sm-5 col-md-offset-2 col-md-4">
        <span class="subtitle">Total average attendance by game: </span><br>
        <span class="translation">Átlag nézőszám meccsenként</span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6">{{data.total}}</div>
</div>

<div class="row merged-row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
        Highest recorded attendance game: <br>
        Legnagyobb nézőszám
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        {{data.highest.date}}: {{data.highest.team1}} - {{data.highest.team2}}<br>
        Attendance: {{data.highest.attendance}}<br>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
        Lowest recorded attendance game: <br>
        Legalacsonyabb nézőszám
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        {{data.lowest.date}}: {{data.lowest.team1}} - {{data.lowest.team2}}<br>
        Attendance: {{data.lowest.attendance}}<br>
    </div>
</div>