<div class="container">
    <div class="row">
        <div class="col-xs-12"><span class="grid-item-title">Seasons:</span></div>
        <ul class="dynamic-grid" angular-grid="homeGrid" ag-grid-width="200" ag-gutter-size="30" ag-id="gallery" ag-refresh-on-img-load="false">
            <li class="grid" data-ng-repeat="gridItem in seasonGrid">
                <div class="css-logo-container" ng-click="goTo('season', {season: getSeasonParam(gridItem)})">
                    <div class="background"></div>
                    <div class="stick"></div>
                    <div class="logo-text" ng-bind="gridItem"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="dynamic-grid" angular-grid="homeGrid" ag-grid-width="200" ag-gutter-size="30" ag-id="gallery" ag-refresh-on-img-load="false">
            <li data-ng-repeat="gridItem in homeGrid" class="grid">
                <img ng-src="{{gridItem.img}}" class="grid-img" />
                <span class="grid-item-title" ng-bind="gridItem.text"></span>
                <a ng-repeat="season in gridItem.seasons" ng-href="{{$state.href(gridItem.competitionType || 'league', {leagueabbr: gridItem.leagueabbr, season: getSeasonParam(season)})}}" class="grid-item-season">
                    <span ng-bind="gridItem.leagueabbr | uppercase"></span>&nbsp;
                    <span ng-bind="season"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
