<div class="container" ng-if="noData">
    No data for this page.
</div>

<div class="container" ng-if="!noData">

    <league-page-title data="leagueData" common-data="commonData"></league-page-title>

    <total-average data="leagueData" common-data="commonData"></total-average>

    <attendance-date data="leagueData" common-data="commonData"></attendance-date>

    <country data="leagueData" common-data="commonData"></country>

    <month data="leagueData" common-data="commonData"></month>

    <stage data="leagueData" common-data="commonData"></stage>

    <team-home-away data="leagueData" common-data="commonData"></team-home-away>

    <team-home data="leagueData" common-data="commonData"></team-home>

    <team-home-map data="leagueData" common-data="commonData"></team-home-map>

    <team-record-home data="leagueData" common-data="commonData"></team-record-home>

    <team-lowest-home data="leagueData" common-data="commonData"></team-lowest-home>

    <team-away data="leagueData" common-data="commonData"></team-away>

    <team-record-away data="leagueData" common-data="commonData"></team-record-away>

    <team-lowest-away data="leagueData" common-data="commonData"></team-lowest-away>

    <sources data="leagueData"></sources>

</div>
