<div class="container" ng-if="noData">
    No data for this page.
</div>

<div class="container" ng-if="!noData">

    <league-page-title data="leagueData" common-data="commonData"></league-page-title>

    <total-average data="leagueData" common-data="commonData"></total-average>

    <attendance-date data="leagueData" common-data="commonData"></attendance-date>

    <stage data="leagueData" common-data="commonData"></stage>

    <team-home-map data="leagueData" common-data="commonData"></team-home-map>

    <team-home-away data="leagueData" common-data="commonData"></team-home-away>

    <sources data="leagueData"></sources>

</div>
