<div class="container">
    <div class="row" id="title">
        <div class="col-xs-12 col-sm-6 pagetitle"><img src="img/mol.png"> MOL Liga 2016/17</div>
        <div class="col-xs-12 col-sm-6"><a ng-href="{{gamesLink}}">Games</a> - Last update: {{updated}}</div>
    </div>
    
    <div class="row merged-row" id="total">
        <div class="col-xs-12 col-sm-offset-3 col-sm-5 col-md-offset-2 col-md-4">
            <span class="subtitle">Total average attendance by game: </span><br>
            <span class="translation">Átlag nézőszám meccsenként</span>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">{{totalAverage}}</div>
    </div>
        
    <div class="row merged-row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
            Highest recorded attendance game: <br>
            Legnagyobb nézőszám
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            {{highestAtt.date}}: {{highestAtt.team1}} - {{highestAtt.team2}}<br>
            Attendance: {{highestAtt.attendance}}<br>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-4">
            Lowest recorded attendance game: <br>
            Legalacsonyabb nézőszám
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            {{lowestAtt.date}}: {{lowestAtt.team1}} - {{lowestAtt.team2}}<br>
            Attendance: {{lowestAtt.attendance}}<br>
        </div>
    </div>
    
    <div class="row" id="bycountry">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
            Average attendance by country:<br>
            <span class="translation">Átlag nézőszám országok szerint</span>
        </div>
        
        <div class="col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-2 col-md-3"><span class="flag-icon flag-icon-hu"></span> Hungary: {{avgHun}}</div>
        <div class="col-xs-4 col-sm-3 col-md-3"><span class="flag-icon flag-icon-ro"></span> Romania: {{avgRom}}</div>
        <div class="col-xs-4 col-sm-4 col-md-4"><span class="flag-icon flag-icon-rs"></span> Serbia: {{avgSrb}}</div>
        
        <div class="col-xs-12 divider-space">&nbsp;</div>
        
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"><canvas id="bar" class="chart chart-bar" chart-data="dataCountry" chart-labels="labelsCountry" chart-options="optionsCountry" chart-colors="colorsCountry"> </canvas></div>
    </div>
    
    <div class="row" id="bymonth">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
            Average attendance by month:<br>
            <span class="translation">Átlag nézőszám hónapok szerint</span>
        </div>
        
        <div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3">
            <div class="team-label">September:</div> <div class="team-stat">{{avgSep}}</div>
            <div class="team-label">October:</div> <div class="team-stat">{{avgOct}}</div>
            <div class="team-label">November:</div> <div class="team-stat">{{avgNov}}</div>
            <div class="team-label">December:</div> <div class="team-stat">{{avgDec}}</div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="team-label">January:</div> <div class="team-stat">{{avgJan}}</div>
            <div class="team-label">February:</div> <div class="team-stat">{{avgFeb}}</div>
            <div class="team-label">March:</div> <div class="team-stat">{{avgMar}}</div>
        </div>
        
        <div class="col-xs-12 divider-space">&nbsp;</div>
        
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"><canvas class="chart chart-line" chart-data="dataMonth" chart-labels="labelsMonth" chart-options="optionsMonth" chart-colors="colorsMonth"> </canvas></div>
        
    </div>
    
    <div class="row" id="byhometeam">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
            Average attendance by home team:<br>
            <span class="translation">Átlag nézőszám hazai csapatok szerint</span>
        </div>
        
        <div class="col-xs-4 col-sm-4 col-md-offset-2 col-md-3">
            <div class="team-label">ASC Corona Brașov:</div> <div class="team-stat">{{avgBraHome}}</div>
            <div class="team-label">Debreceni HK:</div> <div class="team-stat">{{avgDebHome}}</div>
            <div class="team-label">Dunărea Galați:</div> <div class="team-stat">{{avgGalHome}}</div>
            <div class="team-label">Dunaújvárosi Acélbikák:</div> <div class="team-stat">{{avgDabHome}}</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3">
            <div class="team-label">DVTK Jegesmedvék:</div> <div class="team-stat">{{avgMisHome}}</div>
            <div class="team-label">Fehérvári Titánok:</div> <div class="team-stat">{{avgFehHome}}</div>
            <div class="team-label">Ferencvárosi TC:</div> <div class="team-stat">{{avgFerHome}}</div>
            <div class="team-label">HK Beograd:</div> <div class="team-stat">{{avgBeoHome}}</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="team-label">MAC Budapest:</div> <div class="team-stat">{{avgMacHome}}</div>
            <div class="team-label">SC Csíkszereda:</div> <div class="team-stat">{{avgCsiHome}}</div>
            <div class="team-label">Újpesti TE:</div> <div class="team-stat">{{avgUteHome}}</div>
        </div>
        
        <div class="col-xs-12 divider-space">&nbsp;</div>
        
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"><canvas id="bar" class="chart chart-bar" chart-data="dataHome" chart-labels="labelsHome" chart-series="series" chart-options="optionsHome" chart-colors="colorsTeams"> </canvas></div>
    </div>
    
    <div class="row" id="byawayteam">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
            Average attendance by away team:<br>
            <span class="translation">Átlag nézőszám vendég csapatok szerint</span>
        </div>
        
        <div class="col-xs-4 col-sm-4 col-md-offset-2 col-md-3">
            <div class="team-label">ASC Corona Brașov:</div> <div class="team-stat">{{avgBraAway}}</div>
            <div class="team-label">Debreceni HK:</div> <div class="team-stat">{{avgDebAway}}</div>
            <div class="team-label">Dunărea Galați:</div> <div class="team-stat">{{avgGalAway}}</div>
            <div class="team-label">Dunaújvárosi Acélbikák:</div> <div class="team-stat">{{avgDabAway}}</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3">
            <div class="team-label">DVTK Jegesmedvék:</div> <div class="team-stat">{{avgMisAway}}</div>
            <div class="team-label">Fehérvári Titánok:</div> <div class="team-stat">{{avgFehAway}}</div>
            <div class="team-label">Ferencvárosi TC:</div> <div class="team-stat">{{avgFerAway}}</div>
            <div class="team-label">HK Beograd:</div> <div class="team-stat">{{avgBeoAway}}</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="team-label">MAC Budapest:</div> <div class="team-stat">{{avgMacAway}}</div>
            <div class="team-label">SC Csíkszereda:</div> <div class="team-stat">{{avgCsiAway}}</div>
            <div class="team-label">Újpesti TE:</div> <div class="team-stat">{{avgUteAway}}</div>
        </div>
        
        <div class="col-xs-12 divider-space">&nbsp;</div>
        
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"><canvas id="bar" class="chart chart-bar" chart-data="dataAway" chart-labels="labelsAway" chart-series="series" chart-options="optionsAway" chart-colors="colorsTeams"> </canvas></div>
    </div> 
    
    <div class="row" id="sources">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10 subtitle">
            Data sources:<br>
            <span class="translation">Adatok forrásai</span>
        </div>
        
        <div class="col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10">
            <ul>
                <li>Official game sheets: <a href="http://icehockey.hu/oldalak/mol_liga/menetrend">http://icehockey.hu/oldalak/mol_liga/menetrend</a></li>
                <li>Game reports from <a href="http://hkb.rs/">http://hkb.rs/</a> and <a href="http://www.hockeyserbia.com/">http://www.hockeyserbia.com/</a> for HK Beograd home games.</li>
            </ul>
        </div>
    </div> 

</div>